$text-color: #2c2c2c;
$white: #fff;
$primary-color: #7e72f2;
$background-color: #f9f9f9;
$bg-primary: #6f64f8;
$bg-secondary: #ededed;
$border-color: #979797;

$main-font: Montserrat, Arial, Helvetica, sans-serif;

$border-radius: 8px;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
$box-shadow-hover: 0px 2px 8px rgba(0, 0, 0, 0.6);  